.profileHeader{
    position: fixed;
    left: 0;
    top: 0;
    right: 10px;
    width: 100%;
}
.backgroundImg{
    width: 100%;
    height: 100%;
    z-index: 2;
}
.backgroundImg img{
    width: 100%;
    height: 100%;
    filter: blur(1px);
}
.profileTitre{
    text-align: center;
    margin:auto;
    position: relative;
    margin-top: -40px;
    z-index: 3;
}
.profileTitre h1{
    font-size: 17px;
    color: white;
    font-weight: normal;
}
.titreHeader{
    position: absolute;
    top: 22%;
    display: flex;
    left: 20px;
}
.profilePhoto{
    width: 93px;
    height: 93px;
    background-color: white;
    border-radius: 50%;
}
.profilePhoto img{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}
.titreHeader h1{
    font-size: 17px;
    color: white;
    align-items: center;
    padding-top: 18%;
    padding-left: 20px;
    font-weight: inherit;
    font-weight: normal;
}