.MainMenuu{
    background-image: linear-gradient(to bottom left , #9999c3 , #bdbdcf ,#bfbfcf);
   
    width: 100%;
}
.MainMenuu{
    direction: rtl;
    text-align: right;
    margin: auto;
    position: relative;
    z-index: 2;
    top: 0;
    right: 0%;
    width: 100%;
    color: #080957;
    overflow: hidden;
}
.Logo{
    padding: 40px 16px;
}
.menuWidth{
    width: 55%;
    height: 100%;
    text-align: right;
}
.menuTitre{
    align-items: center;
}
.aboutUs{
    list-style: none;
    padding-right: 15px;
    font-size: 13px;
    line-height: 35px;
}
.aboutUs li a{
    color: #080957;
    text-decoration: none;
}
.List svg{
    font-weight: bold;
    font-size: 20px;
}
.profile span{
    font-size: 14px;
    padding-right: 5%;
}
.profile svg{
    font-size: 18px;
    margin-bottom: 5px;
}



.mainMenuuu{
    padding-right: 12px;
    font-size: 13px;
    line-height: 25px;
    padding-top: 15px;
}
.mainMenuuu input{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.mainMenuuu .mainMenuItems{
    overflow:hidden;
}
.mainMenuuu .mainMenuItems{
    width: 100%;
    overflow: hidden;
}
.mainMenuuu .mainMenuItems-label{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.mainMenuuu .mainMenuItems-content{
    max-height: 0;
    padding: 0 ;
    opacity: 0;
    transition: 0.2s;
}
.mainMenuuu input:checked + .mainMenuItems-label .svgMenu{
    transform: rotate(-90deg);
    color: #FF6D02;
}
.mainMenuuu input:checked ~ .mainMenuItems-content {
    max-height: 200px;
    padding: 10px;
    width: 90%;
    font-size: 12px;
    transition: 0.2s;
    opacity: 1;
}
.mainMenuuu input:checked ~ .mainMenuItems-label{
    color: orange;
    transition: 0.2s;
}
.svgMenu{
    text-align: left;
    margin: auto;
    margin-left: 0;
}
.mainMenuuu a{
    font-size: 10px;
    color: #080987;
}
.mainMenuuu a:hover{
    text-decoration: none;
}


