.Successful{
    text-align: center;
    margin-top: 40%;
}
.completion .Button{
    width: 90%;
    height: 30px;
    font-weight: 500;
    margin-top: 12px;
}
.Successful p{
    font-size: 12px;
    font-weight: bold;
}
.successfulPayment{
    color: #0D9749;
    font-size: 12px;
    font-weight: bold;
    width: 80%;
    text-align: center;
    margin: 20px auto;
}

@media screen and (min-width: 768px) {
    .completion .Button{
        width: 50%;
    }
}