.MediaBody {
    background-color: #D1E5F0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    position: relative;
    z-index: 4;
}
.bodyToggle{
    background-color:white;
    position: relative;
    right: 10px;
    height: 100%;
    z-index: 5;
}
.btnRight{
    position: fixed;
    right: 12px;
    top: 200px;
}
.btnMedia{
    position: fixed;
    right: 12px;
    top: 82px;
}
.Content{
    margin-bottom: 150px;
    overflow: auto;
}
.homeHeader.arthHeader {
    box-shadow: 5px 1px 10px 9px #7070700f;
    left: 0;
    z-index: 101;
    width: 97%;
}


@media only screen and (min-width: 440px){
    .btnRight{
        top: 300px;
    }
    .btnMedia{
        top: 40px;
    }
}
@media only screen and (min-width: 514px){
    .btnRight{
        top: 330px;
    }
    .btnMedia{
        top: 40px;
    }
}
@media only screen and (min-width: 586px){
    .btnRight{
        top: 360px;
    }
    .btnMedia{
        top: 40px;
    }
}
@media only screen and (min-width: 647px){
    .btnRight{
        top: 430px;
    }
    .btnMedia{
        top: 180px;
    }
}