
.ProductContent div{
    text-align: center;
    margin: auto;
}
.productTitre{
    width: 88%;
}
.productImage{
    width: 88%;
}
.ProductContent .productImage{
    position: relative;
    text-align: center;
    margin: 20px auto;
    width: 100%;
}
.ProductContent .ProductIMG img{
    margin-bottom: 12px;
}
.productImage .productItems{
    position: absolute;
}
.activeLike{
    color: red;
}
.ProductContent .productItems li{
    list-style: none;
    text-align: right;
    margin: 5px auto;
}
.ProductContent h2{
    font-size: 16px;
    text-align: right;
    padding-right: 12px;
    padding-top: 20px;
}
.store{
    display: flex;
    text-align: center;
    margin: auto;
    font-size: 12px;
    position: relative;
}
.store div:last-child{
    text-align: left;
    margin: auto;
}
.productImage {
    margin-top: 20px;
}
.btnProduct{
    text-align: center;
    margin: 30px auto;
}
.btnProduct Button{
    text-align: center;
    box-shadow: none;
    width: 45%;
    display: block;
    height: 23px;
    font-weight: normal;
}
.ProductContent ul:last-child{
    display: flex;
    text-align: center;
    margin: auto;
    width: 88%;
    opacity: 0.6;
    padding-right: 0;
}
.ProductContent ul:last-child li{
    width: 20%;
    text-align: center;
    list-style: none;
}
.ProductContent ul:last-child img{
    align-items: center;
}
.ProductContent ul:last-child li span{
    font-size: 6px;
    padding: 0;
    text-align: center;
    margin: auto;
}
.ProductContent .btnProduct{
    margin-bottom: 22px;
}
.ProductContent section{
    text-align: center;
    margin: auto;
    width: 100%;
}
.CloseAnimation Button span{
    display: none;
    transition: all 0.1s;
}
.CloseAnimation Button{
    width: 10%;
    height: 25px;
    border: #D1E5F0 2px solid; 
    box-shadow: 1px 1px 10px 1px #D1E5F0;
    transition: all 0.1s;  
}
.openAnimation Button span{
    display: block;
    transition: all 0.1s;
}


.openAnimation Button{
    animation-name: openAnimation;
    animation-duration: 0.2s;  
    animation-fill-mode: forwards;
}
@keyframes openAnimation{
    from{
        width: 0;
        height: 0;
        opacity: 0;
    }
    to{
        text-align: center;
        box-shadow: none;
        margin: 8px auto;
        width: 45%;
        display: block;
        height: 23px;
        border: 1px solid #FF6D02;
        color: #FF6D02;
        background-color: white;
    }
}
.btnProduct .VarietyStyle{
    width: 0;
    height: 0;
    opacity: 0;
}
.btnProduct .VarietyAnimation{
    animation-name: varAnimation;
    animation-duration: 0.1s;  
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}
@keyframes varAnimation{
    from{
        width: 0;
        height: 0;
        opacity: 0;
    }
    to{
        width: 77%;
        opacity: 1;
    }
}
.btnProduct .CloseVarietyAnimation{
    animation-name: CloseVarietyAnimation;
    animation-duration: 0.1s;  
    animation-fill-mode: forwards;
}
.btnProduct .CloseVarietyAnimation{
    animation-name: CloseVarietyAnimation;
    animation-duration: 0.1s;  
    animation-fill-mode: forwards;
}
@keyframes CloseVarietyAnimation{
    from{
        width: 77%;
        opacity: 1;

    }
    to{
        width: 0;
        height: 0;
        opacity: 0;
    }
}


.varietyMargin .Button{
    animation-name: varietyMarginAnimation;
    animation-duration: 0.2s;  
    animation-fill-mode: forwards;
}
@keyframes varietyMarginAnimation{
    0%{
        margin: 8px auto;
        background-color: #D4D3E3;
        border: #D4D3E3;
        color: transparent;
    }
    50%{
        margin: 8px auto;
        background-color: #D4D3E3;
        border: #D4D3E3;
        color: transparent;
    }
    80%{
        margin: 8px auto;
        background-color: #D4D3E3;
        border: #D4D3E3;
        color: transparent;
    }
    100%{
        background-color: #A5A5B2;
        border: #A5A5B2;
        margin-top: 75px;
        color: white;
    }
}

.colorMargin .Button{
    animation-name: colorMarginAnimation;
    animation-duration: 0.1s;  
    animation-fill-mode: forwards;
}
@keyframes colorMarginAnimation{
    0%{
        margin: 8px auto;
        background-color: #D4D3E3;
        border: #D4D3E3;
        color: transparent;
        margin-top: 0px;
    }
    50%{
        margin: 8px auto;
        background-color: #D4D3E3;
        border: #D4D3E3;
        color: transparent;
        margin-top: 10px;
    }
    80%{
        margin: 8px auto;
        background-color: #D4D3E3;
        border: #D4D3E3;
        color: transparent;
        margin-top: 15px;
    }
    100%{
        background-color: #A5A5B2;
        border: #A5A5B2;
        margin-top: 25px;
        color: white;
        width: 30%;
    }
}


.warrantyMargin .Button{
    animation-name: warrantyMarginAnimation;
    animation-duration: 0.1s;  
    animation-fill-mode: forwards;
}
@keyframes warrantyMarginAnimation{
    0%{
        margin: 8px auto;
        background-color: #D4D3E3;
        border: #D4D3E3;
        color: transparent;
        margin-top: 70px;
    }
    50%{
        margin: 8px auto;
        background-color: #D4D3E3;
        border: #D4D3E3;
        color: transparent;
        margin-top: 90px;
    }
    80%{
        margin: 8px auto;
        background-color: #D4D3E3;
        border: #D4D3E3;
        color: transparent;
        margin: 8px auto;
    }
    100%{
        background-color: #A5A5B2;
        border: #A5A5B2;
        margin-top: 115px;
        color: white;
        width: 35%;
    }
}


.varietyPaddingAnimation{
    animation-name: varietyPaddingAnimation;
    animation-duration: 0.5s;  
    animation-fill-mode: forwards;
}
@keyframes varietyPaddingAnimation{
    0%{
        padding: 0;
    }
    50%{
        padding: 40px;
    }
    100%{
        padding: 0;
    }
}

.warrantyPaddingAnimation{
    animation-name: warrantyPaddingAnimation;
    animation-duration: 0.5s;  
    animation-fill-mode: forwards;
}
@keyframes warrantyPaddingAnimation{
    0%{
        padding: 0;
    }
    50%{
        padding: 40px;
    }
    100%{
        padding: 0;
    }
}

.colorPaddingAnimation{
    animation-name: colorPaddingAnimation;
    animation-duration: 0.5s;  
    animation-fill-mode: forwards;
}
@keyframes colorPaddingAnimation{
    0%{
        padding: 0;
    }
    50%{
        padding: 40px;
    }
    100%{
        padding: 0;
    }
}
.varietyImgAnimation .ProductImG{
    animation-name: varietyImgAnimation;
    animation-duration: 0.5s;  
    animation-fill-mode: forwards;
}
@keyframes varietyImgAnimation{
    0%{
        width: 50%;
    }
    50%{
        padding: 40px;
    }
    100%{
        width: 45%;
    }
}




