
.Cart{
    background-color: #DBDBEB;
}
.firstPage{
    text-align: center;
    margin: auto;
    margin-top: 1px;
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-color: #f36b07;
}
.secondPageContent{
    position: absolute;
    top: 19%;
    left: 0;
    width: 100%;
    margin-top: 0;
    z-index: 2;
}
.thirdPageContent{
    position: absolute;
    top: 19%;
    left: 0;
    width: 100%;
    margin-top: 0;
    z-index: 0;
}
.forthPageContent{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 50%;
    width: 70%;
}
.fifthPage{
    margin-top: 2px;
}