.Form{
    text-align: center;
    margin: auto;
}
.Input{
    width: 60%;
    display: block;
    margin: 10px auto;
    border: none;
    border-bottom: 1px solid #707070;
    height: 40px;
    background-color: transparent;
}
.Input::placeholder{
    color: #A5A5B2;
    font-weight: 450;
    padding: 8px;
    font-size: 12px;
    align-items: center;
}
.Input:focus{
    outline: none;
}