
.BtnClose .backgroundButton{
    background-color: white;
    height: 40px;
    width: 73px;
    position: relative;
    top:-50px;
    left: -94px;
}
.BtnClose .button{
    background-color: #FF6D02;
    padding: 1px 10px 6px 10px;
    color: white;
    font-weight: 900;
    border-radius: 50%;
    border: white 7.5px solid;
    box-shadow: #f36b07 0px 14px 0px 1px;
    margin-left: -15.5px;
    margin-top: 16px;

}
.BtnClose .button img{
    align-items: center;
    margin: auto;
}
.BtnClose .button:focus{
    outline: none;
}
.BtnClose  .button::after{
    content: "";
    background-color: white;
    position: absolute;
    z-index: 300;
    right: -17px;
    top: 20px;
    border-top: 24px solid #f36b07;
    border-left: #f36b07 solid 15px;
    border-right: #f36b07 solid 15px;
    border-bottom: 3px solid #f36b07;
    border-radius: 20px 0px 8px 9px;
}
.BtnClose  .button::before{
    content: "";
    background-color: white;
    position: absolute;
    z-index: 300;
    left: -9px;
    top: 20px;
    border-top: 21px solid #f36b07;
    border-right:#f36b07 solid 9px;
    border-left: #f36b07 solid 14px;
    border-radius: 0px 23px 4px 0px;
}
