.Home{
    margin-bottom: 60px;
    direction: rtl;
    position: relative;
    z-index: 3;
    width: 100%;
}
.menuToggle{
    background-color: white;
}
.homeHeader{
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    padding: 8px;
    z-index: 5;
}
.question img{
    width: 100%;
}
.boxes{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.boxes li{
    list-style: none;
}
.boxes li img{
    width: 100%;
}
.banner{
    text-align: center;
    margin: auto;
    padding:12px;
}
.banner li{
    list-style: none;
    text-align: justify;
    margin: auto;
    margin-bottom: 12px;
}
.banner li img{
    width: 100%;
}
.monoSlide div img{
    width: 100%;
}
.monoSlide {
    position: relative;
    z-index: 1;
}
.monoSlide ul.slick-dots{
    position: absolute;
    bottom: 12px;
}
.monoSlide .slick-prev:before, .slick-next:before {
    color: #080819!important;
    opacity: 0.3!important;
}
.monoSlide button.slick-next{
    position: absolute;
    right: 12px;
}
.monoSlide button.slick-prev{
    position: absolute;
    left: 10px;
    z-index: 2;
}

.productSlider{
    text-align: center;
    align-items: center;
    margin: auto;
}
.amazingProduct{
    background-color: #D4D3E3;
}
.productSlider h2{
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}
.newProduct{
    background-color: #7577CD;
    color: white;
}
.banner2 img{
    width: 100%;
}
.glassesTitle{
    text-align: right;
    position: relative;
    margin-top: 12px;
}
.glassesTitle h4{
    font-size: 13px;
    color: black;
}
.glassesTitle::after{
    content: '';
    position: absolute;
    height: 1.7px;
    width: 67%;
    left:5px;
    background-color: #ff6d02;
    top: 50%;
}
.table  {
    text-align: center;
    margin: auto;
}
.amazingProductBlue{
    background-color: #080a57;
    color: white;
}
.groups .row{
    width: 100%;
    text-align: 100%;
    margin: auto;
}
.changeWidth .glassesTitle::after{
    width: 46%;
}
.suggestion {
    text-align: right;
    margin: auto;
    color: #FF6D02;
    font-weight: bold;
    font-size: 12px;
}
.suggestionTitre{
    position: relative;
    width: 100%;
}
.suggestionTitre span{
    padding-left: 10px;
}
.suggestionTitre::after{
    content: "";
    height: 2px;
    width: 65%;
    top: 10px;
    background-color: #FF6D02;
    position: absolute;
}
.ProductSlider .monoSlide .slick-prev:before, .slick-next:before {
    position: absolute;
    right: 0px;
    top: 0;
}
.HomeSearchBox{
    margin-top: 20px;
    text-align: center;
    position: relative;
}
.HomeSearchBox form input{
    border: #080957 1px solid;
    width: 90%;
    border-radius: 30px;
    
}
.HomeSearchBox form input:focus{
    outline: none;
}
.HomeSearchBox form input::placeholder{
    color: #707070;
    font-size: 11px;
    padding-right: 22px;
    
}
.searchIcon svg {
    position: absolute;
    top: 5px;
    right: 24px;
    color: #707070;
    width: 12px;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .ProductSlider .monoSlide .slick-prev:before, .slick-next:before {
        position: absolute;
        right: 4px;
        top: 0;
    }
  }
