.Button{
    background-color: white;
    outline: none;
    border: 2px solid #FF6D02;
    color: #FF6D02;
    width: 95px;
    font-size: 12px;
    align-items: center;
    margin: auto;
    border-radius: 40px;
    padding-bottom: 4px;
    font-weight: bold;
}
.Button:focus{
    outline: none;
}

.login{
    border: white;
    box-shadow:1px 2px 11px 0px #707070ad;
    color: black;
    font-weight: 700;
    width: 50%;
}
.signUp{
    border: white;
    box-shadow: #707070;
    color: white;
    font-weight: 700;
    width: 50%;
    background-color: #FF6D02;
}
.cancel{
    width: 30%;
    border: 1px solid #FF6D02;
    color: #FF6D02;
    background-color: white;
}

.changePass{
    background-color: #FF6D02;
    width: 30%;
    color: white;
    height: 25px;
    border: none;
}

.submit{
    background-color: #FF6D02;
    width: 60%;
    color: white;
    height: 30px;
}
.seeAll{
    width: 60%;
    border: 1px solid #FF6D02;
    color: #FF6D02;
    background-color: white;
}