
.BtnTop .backgroundButton{
    background-color: white;
    height: 21px;
    width: 72px;
    position: relative;
    text-align: left;
    margin:auto;
    padding-left: 11px;
    right: -22px;
}
.BtnTop .button{
    background-color: #FF6D02;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: 900;
    border-radius: 50%;
    border: white 8px solid;
    box-shadow: #f36b07 0px 14px 0px 1px;

}
.BtnTop .button img{
    align-items: center;
    margin: auto;
}
.BtnTop .button:focus{
    outline: none;
}
.BtnTop .Rotate{
    transform:rotate(180deg);
    padding-top: 10px;
}
.BtnTop .button::after{
    content: "";
    background-color: white;
    position: absolute;
    z-index: 300;
    right: -11px;
    top: 0px;
    border-top: 22px solid #f36b07;
    border-left: #f36b07 solid 11px;
    border-right: #f36b07 solid 11px;
    border-bottom: 3px solid #f36b07;
    border-radius: 20px 0px 8px 9px;
}
.BtnTop .button::before{
    content: "";
    background-color: white;
    position: absolute;
    z-index: 300;
    left: -11px;
    top: 0px;
    border-top: 24px solid #f36b07;
    border-right:#f36b07 solid 12px;
    border-left: #f36b07 solid 10px;
    border-radius: 2px 20px 6px 19px;
}


