.Product {
    position: relative;
}
.specifications{
    position: absolute ;
    top: 10%;
    background-color: white;
}
.Product .detail {
    text-align: right;
    margin: auto;
}
.Product .detail h2{
    font-size: 21px;
}
.testProduct{
    position: absolute;
    top: 0;
    left: 0;
}

.MainProduct{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F36B07;
    position: absolute;
    z-index: 6;
    background-position: bottom;
    background-size: cover;
    height: 100%;
    margin: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    align-items: center;
    box-sizing: border-box;
    display: block;
    bottom: 0;

}
.ProductContent{
    text-align: center;
    margin: 10px auto;
    box-sizing: border-box;
    align-items: center;
    background-color: white;
}
.ProductContents h2{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 23px;
    color: white;
}