.Product {
    position: relative;
}
.specifications{
    position: absolute ;
    padding-top: 80px;
    background-color: white;
}
.Product .detail {
    text-align: right;
    margin: auto;
}
.Product .detail h2{
    font-size: 21px;
}
.testProduct{
    position: absolute;
    top: 0;
    left: 0;
}


.ProductContent{
    text-align: center;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    align-items: center;
    background-color: white;
    height: 100vh;
}
.ProductContents h2{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 23px;
    color: white;
}
.priceProductPage {
    text-align: left;
    padding-left: 30px;
    margin-top: -12px;
}
.priceProductPage del {
    color: white;
    padding-left: 35px;

}
.ProductUp{
    position: fixed;
    right: 65%;
    top: 90px;
    height: 390px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    transition: all 0.2s;
    z-index: 100;
}
.ProductDown{
    position: relative;
    right: 0;
    top: 0;
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    transition: all 0.2s;
}
.priceProductDisplay{
    height: 100px;
}
.MainProduct{
    height: 28%;
    margin: 0;
    padding: 0;
    background-color: #F36B07;
    background-image: linear-gradient(to left , #ED8120 , #EC912A ,#f36b07 ,#f36b07);
    position: absolute;
    z-index: 6;
    background-position: bottom;
    background-size: cover;
    margin: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    align-items: center;
    box-sizing: border-box;
    display: block;
    bottom: 0;
    transition: all 0.1s;
}
.MainOrangeHeight{
    height: 19%;
}
 .MainTopProduct{
    margin-top: 0;
    height: 12%;
    position: absolute;
    bottom: 0;
    top: 5px;
    transition: all 0.1s;
 }




 @media only screen and (min-width: 340px) {
    .MainProduct{
        height: 29%;
    }

    .MainOrangeHeight{
        height: 19%;
    }
    .MainTopProduct{
        height: 12%;
     }
  }
 @media only screen and (min-width: 380px) {
    .MainProduct{
        height: 40%;
    }

    .MainOrangeHeight{
        height: 29%;
    }
    .MainTopProduct{
        height: 10%;
     }
    .priceProductPage {
        margin-top: 0px;
        font-size: 16px;
    }
  }

