.ProfileMenu{
    text-align: right;
    margin:auto;
    width: 100%;
    list-style: none;
    height: 100%;
    position: relative;
    right: 0;
    top: 96px;
    line-height: 62px;
    background-color: #bfbfcf;
}
.ProfileMenu li a{
    color: #080957;
}


@media screen and (min-width: 375px) {
    .ProfileMenu{
        top: 185px;
    }
}