.ProfileMenu{
    text-align: right;
    margin:auto;
    width: 100%;
    list-style: none;
    height: 100%;
    position: relative;
    right: 0;
    top: 110px;
    line-height: 50px;
}
.ProfileMenu li a{
    color: #080957;
}