.Colors{
    border: 1px #D1E5F0 solid; 
    padding: 15px 0px;
    padding-bottom: 5px;
    border-radius: 8px;
    box-shadow: #becfd8bf 1px 1px 7px 1px;
    width: 100%;
    font-size: 10px;
    background-color: white;
}
.SelectColor label{
    position: relative;
}
.SelectColor label input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.SelectColor .checkColor {
    color: #707070;
    font-weight: 500;
    border-right: 1px solid #D1E5F0;
    padding: 5px 6px;
}
.SelectColor label:first-child .checkColor {
    border-right:  none;
}
.SelectColor input:checked ~ .checkColor {
    color: #F36B07;
}