.YourCart{
    background-color: #F36B07;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: auto;
    margin-right: 0;
}
.yourOrder{
    width: 90%;
    text-align: center;
    margin: auto;
    padding-top: 21px;
}
.yourOrder .ProductBox{
    box-shadow: none;
}
.BtnClose{
    background-color:#F36B07 ;
    width: 100vw;
}
.yourCartTitre h2{
    font-size: 12px;
    color: white;
    position: absolute;
    font-weight: 500;
    top: 5px;
    right: 30%;
    background-color:#F36B07 ;
}
.borderBotton{
    color: white;
    border-bottom: 1px solid #ffffff94;
    padding-bottom: 8px;
    opacity: 0.7;
    font-weight: normal;
    margin-bottom: 7px;
}

.boldDiscount{
    font-weight: bold;
    opacity: 1;
}
.prices{
    text-align: right;
    margin: 20px auto;
    background-color: #FF8520;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    font-size: 9px;
    font-weight: 500;
}
.cartPrice{
    display: flex;
    width: 100%;
}
.cartPrice span{
    width: 50%;
}
.cartPrice span:last-child{
    text-align: left;
    margin: auto;
}
.emptyImg{
    text-align: center;
    margin: 20px auto;
}
.emptyImg p{
    padding-top: 12px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.emptyChooseAddress{
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 17%;
    right: 0;
    padding-top: 11px;
}
.emptyChooseAddress h2{
    font-size: 11px;
    text-align: right;
    padding-right: 30%;
}
.chooseBTN{
    position: absolute;
    top: 0;
    left: 0;
}
.boldDiscount{
    display: flex;
}
.boldDiscount span:first-child{
    width: 50%;
    text-align: right;
}
.boldDiscount span:last-child{
    width: 50%;
    text-align: left;
}