.orders .Table{
    margin-top: 222px;
    width: 95%;
}
.orders {
    height: 100vh;
}


@media only screen and (min-width: 343px) {
    .orders .rightBackgroundButton {
        top:-34px;
    }
  }
  @media only screen and (min-width: 430px) {
    .orders .rightBackgroundButton {
        top:-24px;
    }
  }