.SelectAddress {
    background-color: white;
    position: relative;
}
.SelectAddress .AddressBox label{
    z-index: 100;
}
.SelectAddress .AddressBox .edit {
    z-index: 1;
}
.SelectAddress h2{
    font-size: 12px;
    padding: 13px;
    padding-bottom: 30px;
    position: absolute;
    top: 30px;
    font-weight: bold;
    right: 20%;
}
.goBack h3{
    font-size:12px;
    background-color: #FF6D02;
    height: 30px;
    padding-top: 8px;
    color: white;
    text-align: right;
    margin: auto;
    padding-right: 25%;
}
.SelectAddress{
    text-align: center;
    margin: auto;
}