.SelectAddress {
    background-color: white;
    position: relative;
}
.SelectAddress .AddressBox label{
    z-index: 100;
}
.SelectAddress .AddressBox .edit {
    z-index: 1;
}
.SelectAddress h2{
    font-size: 12px;
    padding: 13px;
    padding-bottom: 30px;
    position: absolute;
    top: 30px;
    font-weight: bold;
    right: 20%;
}
.goBack h3{
    font-size:12px;
    background-color: #FF6D02;
    height: 30px;
    padding-top: 8px;
    color: white;
    text-align: right;
    margin: auto;
    padding-right: 25%;
}
.SelectAddress{
    text-align: center;
    margin: auto;
    height: 100vh;
    margin-bottom: 200px;
}

.reviewGoBack{
    text-align: right;
}
.reviewGoBack h3{
    
    height: 65px;
    padding-top: 0px;
    text-align: right;
    margin: auto;
    padding-right: 29%;
    font-size: 12px;
    padding-top: 22px;
}
.reviewButtonPos{
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: #DBDBEB;
}
.reviewButton{
    position: absolute;
    top: 0px;
    left: 13px;
}


.newReviewButtonPos{
    top:-64px;
}
.newReviewButtonPos .reviewButton{
    top:0px;
} 
@media only screen and (min-width: 360px) {
    .newReviewButtonPos .reviewButton{
        top:-7px;
    } 
}
@media only screen and (min-width: 375px ) {
    .newReviewButtonPos{
        top:-84px;
    }
    .reviewGoBack h3 {
        padding-top: 10px;
        height: 90px;
    }
    .newReviewButtonPos .reviewButton{
        top:-17px;
    } 
    .newReviewButtonPos .reviewButton button::before{
        top:27px;
        left: -8px;
    } 
    .newReviewButtonPos .reviewButton button::after{
        top:29px;
    } 
}
@media only screen and (min-width: 414px) {
    .newReviewButtonPos{
        top:-71px;
    }
    .newReviewButtonPos .reviewButton{
        top:-21px;
    } 
    .reviewGoBack h3 {
        padding-top: 10px;
        height: 90px;
    }
}