
.grouping div{
    display: flex;
    text-align: right;
    padding-right: 11%;
    width: 90%;
}
.grouping div span{
    font-size: 11px;
    background-color: #D4D3E3;
    margin: 2px 3px;
    padding: 5px 5px;
    height: 20px;
    align-items: center;
    border-radius: 25px;
    text-align: center;
    line-height: 10px;
    color: #707070;
}
.arthSlider{
    width: 80%;
    text-align: center;
    margin: auto;
}
