.Warranty{
    border: 1px #D1E5F0 solid; 
    padding: 10px 0px;
    border-radius: 18px;
    box-shadow: #becfd8bf 1px 1px 7px 1px;
    width: 65%;
}
.Warranty h2{
    font-size: 12px;
    color: #FF6D02;
    padding-top: 5px;
}
.Warranty hr{
    background-color: #D1E5F0;
    width: 50%;
    margin: 0px auto;
}
.Warranty label input{
    font-size: 11px;
    opacity: 0;
    height: 0;
    width: 0;
}
.Warranty label span{
    font-size: 11px;
}
.Warranty input:checked ~ .radioWarranty {
    color: #F36B07;
}